<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>
<%- include('includes/navbar') %>
<% let date1 = []%>
<% let datef=[]%>
<% let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }%>
<% evento.forEach(event=> { %>

<% date1.push(new Date(event.data.toString()))%>



<% }) %>
<% for(let  i = 0; i<date1.length; i++){%>

<%datef.push(date1[i].toLocaleDateString('pt-BR', options))%>
<%}%>
    <body>
                  
    <div class="left">
        <form action="/home" method="get">
                        <input type="text" placeholder="search year" name="year">

<select name="month" id="month">            
                <% for(let i=0; i <12;i++ ) { %>

<option value="<%-i%>">
  <%- months[i] %>
</option>
<% } %>
</select>
<button type="submit">search</button>
</form>

</div>
<div class="container">

  <div class="calendar-container">
    <div class="month-container" id="<%= months[month] %>">
      <h3 style="text-align: center;"> <%= year %> <%= months[month] %> </h3>
      <div class="day-of-week">
        <span>Dom</span><span>Seg</span><span>Ter</span><span>
          Qua</span><span>Qui</span><span>Sex</span><span>Sáb</span>
      </div>
      <% for(let x = 0;x < calendar[month].length;x++) { %>
      <div class="days">
        <% for(let y = 0;y < calendar[month][x].length;y++) { %>
        <div class="date">


          <a href="/agenda/<%= parseInt(month)+1 +'-'+calendar[month][x][y]+'-'+ year%>">
            <div id="<%= parseInt(month)+1 +'-'+calendar[month][x][y]+'-'+ year%>">
              <%= calendar[month][x][y] %>
            </div>
          </a>

          <% let date2=new Date(parseInt(month)+1 +'-'+calendar[month][x][y]+'-'+ year)%>
          <%date2=date2.toLocaleDateString('pt-BR', options)%>
          <% for(let x = 0; x<datef.length;x++){%>

          <%if(datef[x] === date2 ){%>
         <div class="event"></div>
          <%}%>
            
        <%}%>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
  </div>
</div>
</body>

</html>